<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aplikacja do ankietowania</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")

    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/cleditor")
    @Styles.Render("~/Content/toastr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Survey Tool</a>
                    @Html.Partial("_MenuPartial")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div id="content" class="container">
            @RenderBody()
        </div>*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Survayapp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">

                @Html.Partial("_MenuPartial")



            </ul>
            <ul class="navbar-nav dropdown ml-auto px-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div id="content" class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/toastr")

    @Html.Partial("_FlashPartial")
   

    <script>
        $('.navbar-nav .nav-link').click(function () {
            $('.navbar-nav .nav-link').removeClass('active');
            $(this).addClass('active');
        })
    </script>
</body>
</html>