@model SurveyTool.Models.Survey


@*if (document.getElementById("ABCDQuestionA") == null) {
        var el = document.getElementById("ABCDQuestionA");
        console.log("1", typeof el);
        return abcdQuestions;
    }

    else {
        console.log("2");
        if (document.getElementById("ABCDQuestionA") == null) {
            console.log("niema")
            return abcdQuestions;
        }
        else {*@

<script>
    function sumString(abcdQuestions, splitQues) {

        console.log("jest", abcdQuestions._latestValue, splitQues)
        //var a = document.getElementById("ABCDQuestionA").value;
        //var b = document.getElementById("ABCDQuestionB").value;
        //var c = document.getElementById("ABCDQuestionC").value;
        //var d = document.getElementById("ABCDQuestionD").value;
        var a = splitQues[0];
        var b = splitQues[1];
        var c = splitQues[2];
        var d = splitQues[3];
        if (typeof a === 'undefined') {
            return "";
        }
        else {
            console.log(a)
            var o = ';;'
            var sum = a + o + b + o + c + o + d;
            return sum;
        }

    }
    function showDiv(divId, element) {
        document.getElementById(divId).style.display = element.value == 'ABCD' ? 'block' : 'none';
    }


</script>

<div class="page-header">
    <a class="pull-right" href="@Url.Action("Index")">Wróć do listy ankiet &rarr;</a>
    <h2>@ViewData["title"]</h2>
</div>

<form id="survey-form" action="@ViewData["url"]" method="post">


    <div class="">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                @Html.LabelFor(x => x.Name, new { @class = "input-group-text" })
                @*<span class="input-group-text" id="basic-addon1">@</span>*@
            </div>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @*<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">*@
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Początek/koniec ankiety</span>
            </div>


            @Html.EditorFor(x => x.StartDate, new { @type = "date", htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(x => x.EndDate, new { @type = "date", htmlAttributes = new { @class = "form-control" } })


        </div>
    </div>

    <h4>
        <button class="btn btn-primary pull-right" data-bind="click: newQuestion">
            <i class="icon-plus"></i> Dodaj pytanie
        </button>
        Pytania
    </h4>

    <p data-bind="visible: !hasQuestions()">
        Nie dodałeś jeszcze żadnych pytań.
    </p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nr. pytania</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Pytanie</th>
                    <th scope="col">Typ pytania</th>
                    <th scope="col">Zarządzanie</th>
                </tr>
            </thead>
            <tbody id="questions" data-bind="visible: hasQuestions, foreach: { data: questions, afterAdd: afterAdd }">
                <tr>
                    <th scope="row" data-bind="text: ($index() + 1)"></th>
                    <td data-bind="text: title"></td>

                    <td data-bind="html: body"></td>

                    <td data-bind="text: type"></td>


                    <td>
                        <div class="span2 accordion-toggle">
                            <small class="text-success" data-bind="visible: isActive">Akytwna</small>
                            <small class="text-error" data-bind="visible: !isActive()">Nieaktywna</small>
                            <div class="btn-group">
                                <a class="btn btn-small" href="#" data-bind="click: $root.moveUp"><i class="icon-arrow-up"></i></a>
                                <a class="btn btn-small" href="#" data-bind="click: $root.moveDown"><i class="icon-arrow-down"></i></a>
                            </div>
                            <div class="btn-group text-left">
                                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil" title="Edytuj"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" data-bind="click: $root.editQuestion">
                                            <i class="icon-pencil"></i> Edytuj
                                        </a>
                                    </li>
                                    <li data-bind="visible: !isActive()">
                                        <a href="#" data-bind="click: enable">
                                            <i class="icon-ok-circle"></i> Włącz
                                        </a>
                                    </li>
                                    <li data-bind="visible: isActive">
                                        <a href="#" data-bind="click: disable">
                                            <i class="icon-ban-circle"></i> Wyłącz
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td>
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Id', value: id }" />
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Title', value: title }" />
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Type', value: type }" />
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Body', value: body }" />
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Priority', value: $index() }" />
                        @*<input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].ABCDQuestions', value: abcdQuestions }" />*@
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].ABCDQuestions', value: sumString(abcdQuestions,splitQues()) }" />
                        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].IsActive' }, value: isActive" />
                        @* <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].SplitQues' }, value: splitQues()" />*@
                        <!-- ko if: type() == 'ABCD' -->
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-circle-down" title="Edytuj"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <p data-bind=" text: splitQues()[0]"></p>
                            </li>
                            <li>
                                <p data-bind=" text: splitQues()[1]"></p>
                            </li>
                            <li>
                                <p data-bind=" text: splitQues()[2]"></p>
                            </li>
                            <li>
                                <p data-bind=" text: splitQues()[3]"></p>
                            </li>

                        </ul>
                        <!-- /ko -->


                    </td>
                </tr>

            </tbody>

        </table>

    </div>


    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Zapisz ankiete" />
        <a class="btn" href="@Url.Action("Index")">Anuluj</a>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="add-question" tabindex="-1" data-bind="with: current" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj Pytanie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="Title">Tytuł</label>
                        <input class="form-control" type="text" id="Title" name="Title" data-bind="value: title" />
                    </div>
                    <div class="form-group">
                        <label for="Type">Typ odpowiedzi</label>
                        <select class="form-control" id="Type" name="Type" data-bind="value: type">
                            <option>ABCD</option>
                            <option>Text</option>
                            <option>Yes/No</option>
                            <option>Number</option>
                        </select>
                    </div>
                </div>
                <div class="justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="Body">Pytanie</label>
                        <textarea class="form-control" id="Body" name="Body" data-bind="value: body"></textarea>
                    </div>
                </div>

                <!-- ABCDPytania -->
                @* <input class="form-control" type="text" placeholder="Pytanie A" id="ABCDQuestionA" name="ABCDQuestionA" data-bind="value: abcdQuestions" required="required" />*@
                <!-- ko if: type() == 'ABCD' -->
                <div class="row h-100 justify-content-center align-items-center">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">A</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Pytanie A" id="ABCDQuestionA" name="ABCDQuestionA" data-bind="value: splitQues()[0] " required="required" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">B</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Pytanie B" id="ABCDQuestionB" name="ABCDQuestionB" data-bind="value: splitQues()[1]" required="required" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">C</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Pytanie C" id="ABCDQuestionC" name="ABCDQuestionC" data-bind="value: splitQues()[2]" required="required" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">D</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Pytanie D" id="ABCDQuestionD" name="ABCDQuestionD" data-bind="value: splitQues()[3]" required="required" />
                    </div>

                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary" data-bind="click: $root.saveQuestion">Zapisz</button>

            </div>
        </div>
    </div>
</div>
